<ion-header>
  <ion-navbar>
    <ion-title>
      Environment Variables
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <h2>Ionic Environment</h2>
      <p>{{envVariables.ionicEnvName}}</p>
    </ion-item>
    <ion-item>
      <h2>Endpoint</h2>
      <p>{{envVariables.apiEndpoint}}</p>
    </ion-item>
    <ion-item>
      <h2>Environment Name</h2>
      <p>{{envVariables.environmentName}}</p>
    </ion-item>
  </ion-list>
</ion-content>
